/* Grid Styles */
.grid-cell {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: #f3f3f3;
}

/* Container Styles */
.grid-container {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  align-items: center; /* Center rows horizontally */
  margin-top: 30px; /* Space above the grid */
  gap: 10px; /* Space between rows */
}

/* Row Styles */
.grid-row {
  display: flex; /* Arrange columns horizontally */
  gap: 10px; /* Space between columns */
}
/* App Padding */
.app-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* write neccessary css for the grid- simple box style, use the css reset from the star project */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
